<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>runclub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>runclub</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>activities.runclub.run</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SuisseIntl-Regular.ttf</string>
		<string>SuisseIntl-Light.ttf</string>
		<string>SuisseIntl-Medium.ttf</string>
		<string>SuisseIntl-SemiBold.ttf</string>
		<string>SuisseIntl-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
